body{
  text-align: center;
    font-size: 25px
}
.home{
  background-image: url("../assets/backgrounds/h_img.jpg");
  height: 100vh;
   background-size: cover;
   color: white;
}
.SERVICES{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top left;
    /* background: red; */
    color: white;
    padding: 70px;
    padding-top: 70px;
}
.portfolio-image{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.portfolio-image img{
  width: 100%;
}
.imageContainer{
  width: 23%;
  position: relative;
}
.imageContainer div{
  background: red;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3000;
}
.h1{
  padding-top: 380px;
}
#devel,#product,#design{
  display: none;
}
.column{
  float:left;
   width: 33.33%;
}
#contact{
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#name{
  width: 300px;
  height: 30px;
}
#email{
  width: 300px;
  height: 30px;
}
#message{
  width: 700px;
}
@media only screen and(max-width:800px){
  .WHAT{
    background: green;
  }
  .WHAT .row{
    width: 100%;
    background: red;
  }
}