body{
  text-align: center;
    font-size: 25px
}
.home{
  background-image: url("../assets/backgrounds/h_img.jpg");
  height: 100vh;
   background-size: cover;
   color: white;
}
.SERVICES{
    background-image: url("../assets/backgrounds/s_image.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    color: white;
    padding: 40px;
    padding-top: 70px;
}
.h1{
  padding-top: 380px;
}
#devel,#product,#design{
  display: none;
}
.column{
  float:left;
   width: 33.33%;
}
#contact{
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#name{
  width: 300px;
  height: 30px;

}
#email{
  width: 300px;
  height: 30px;

}
